.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f9f9fa;
}

.title {
  display: flex;
  flex-direction: column;
  color: #3f51b5;
  line-height: 43px;
  padding-left: 53px;
  font-size: 40px;
}

.profile {
  background-size: auto;
  color: #3f51b5;
  display: flex;
  flex-direction: column;
  line-height: 43px;
  margin-left: auto;
  padding-right: 15px;
  font-size: 40px;
}

.profile__icon {
  margin-right: 53px;
  cursor: pointer;
}
